GENLAYER_NETWORK=studionet
GENLAYER_JUDGE_ADDRESS=0xF20Fd73435C71Ddf178a9DfbD78114AeD0b902E4
GENLAYER_SUBMITTER_ACCOUNT=
XLAYER_RPC_URL=https://testrpc.xlayer.tech/terigon
XLAYER_DEPLOYER_PRIVATE_KEY=
XLAYER_BUYER_PRIVATE_KEY=
XLAYER_SUPPLIER_PRIVATE_KEY=
XLAYER_ATTESTOR_1_PRIVATE_KEY=
XLAYER_ATTESTOR_2_PRIVATE_KEY=
XLAYER_ATTESTOR_3_PRIVATE_KEY=
